SpaceBox-3D/Connected Services/ShapesServiceReference/ShapesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculateRequiredDotsForShape">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shapeType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shapeParameters" type="tns:ShapeParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ShapeParameters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Radius" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SideA" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SideB" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SideC" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateRequiredDotsForShapeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateRequiredDotsForShapeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateRequiredDotsForShapeSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateRequiredDotsForShape" />
  </wsdl:message>
  <wsdl:message name="CalculateRequiredDotsForShapeSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateRequiredDotsForShapeResponse" />
  </wsdl:message>
  <wsdl:portType name="ShapesServiceSoap">
    <wsdl:operation name="CalculateRequiredDotsForShape">
      <wsdl:input message="tns:CalculateRequiredDotsForShapeSoapIn" />
      <wsdl:output message="tns:CalculateRequiredDotsForShapeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShapesServiceSoap" type="tns:ShapesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateRequiredDotsForShape">
      <soap:operation soapAction="http://tempuri.org/CalculateRequiredDotsForShape" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShapesServiceSoap12" type="tns:ShapesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateRequiredDotsForShape">
      <soap12:operation soapAction="http://tempuri.org/CalculateRequiredDotsForShape" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShapesService">
    <wsdl:port name="ShapesServiceSoap" binding="tns:ShapesServiceSoap">
      <soap:address location="http://localhost:55866/ShapesService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShapesServiceSoap12" binding="tns:ShapesServiceSoap12">
      <soap12:address location="http://localhost:55866/ShapesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>